<h1>Make your form here</h1>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pirate Submissions</title>
    <meta name="description">
  </head>

  <body>
    <form action="/pirates" method="post">
      <label for="pirate[name]">Pirate Name:</label>
        <input type="text" name="pirate[name]"><br>
      <label for="pirate[weight]">Pirate Weight:</label>
        <input type="text" name="pirate[weight]"><br>
      <label for="pirate[height]">Pirate Height:</label>
        <input type="text" name="pirate[height]"><br>

      <label for="pirate[ships][][name]">Ship Name:</label>
        <input type="text" name="pirate[ships][][name]" id="ship_name_1">
      <label for="pirate[ships][][type]">Ship Type:</label>
        <input type="text" name="pirate[ships][][type]" id="ship_type_1">
      <label for="pirate[ships][][booty]">Ship Booty:</label>
        <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">

        <label for="pirate[ships][][name]">Ship Name:</label>
          <input type="text" name="pirate[ships][][name]" id="ship_name_2">
        <label for="pirate[ships][][type]">Ship Type:</label>
          <input type="text" name="pirate[ships][][type]" id="ship_type_2">
        <label for="pirate[ships][][booty]">Ship Booty:</label>
          <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  </body>
</html>
