<h1>Make your form here</h1>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pirate Submissions</title>
    <meta name="description">
  </head>

  <body>
    <form action="/pirates" method="post">
      Pirate Name: <input type="text" name="pirate[name]">
      Pirate Weight: <input type="text" name="pirate[weight]">
      Pirate Height: <input type="text" name="pirate[height]">

      Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_1">
      Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_1">
      Ship Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_1">

      Ship Name: <input type="text" name="pirate[ships][][name]" id="ship_name_2">
      Ship Type: <input type="text" name="pirate[ships][][type]" id="ship_type_2">
      Ship Booty: <input type="text" name="pirate[ships][][booty]" id="ship_booty_2">
  </body>
</html>
